.about-section{
    width: 50%;
    height: auto;
    border-radius: 20px;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.534);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

body{
    display: flex;
    align-items: center;
    gap: 2rem;
    background-image: url(/image/pizza-deliciosa-com-uma-base-dourada-marrom-crocante-e-queijo-derretido_161754-13030.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.main-content{
    color: #ffff;
    flex-direction: column;
    margin-top: 15rem;
    display: flex;
    align-items: center;
}

textarea{
    border-radius: 25px;
}

input{
    border-radius: 25px;
}