.site-body {
    width: 50%;
    height: auto;
    border-radius: 20px;
    flex-direction: column;
    background-color: rgba(231, 215, 70, 0.658);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    gap: 2rem;
    background-image: url(/image/pizza-deliciosa-com-uma-base-dourada-marrom-crocante-e-queijo-derretido_161754-13030.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.text-title{
    font-size: 1.5rem;
    margin: 0.5rem;
}

.image-title{
    width: 50%;
    height: auto;
    border-radius: 20px;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.534);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.pizza-image{
    border-radius: 20px;
    height: auto;
    width: 50%;
    margin: 1rem;
}

.pizza-text{
    font-size: 1.5rem;
    margin: 1rem;
    color: #ffff;
}